
.wrapper {
    width: 1024px;
    border: solid black 1px;
    margin: 0 auto;
    header {
        width: 100%;
        height: 90px;
        text-align: center;
        background: lightcoral;
        h2 {
            margin: 0;
            padding-top: 20px;
            color: rgb(12, 11, 11)
        }
    }
    main {
        width: 100%;
        height: 600px;
        border: 1px solid brown;
        aside {
            width: 20%;
            height: 100%;
            border: solid black 1px;
            float: left;
            .left-side ul  {
                list-style: none;
                text-transform: capitalize;
                line-height: 1.5;
                color: brown;
            }
        }
        section {
            width: 79%;
            height: 100%;
            border: solid black 1px;
            float: right;
            .add-div {
                width: 100%;
                height: 100%;
                background-color: lightgreen;

            }
        } /* end of section  */
        
    } /* end of main */

  footer {
        width: 100%;
        height: 30px;
        background: hsl(0, 94%, 20%);
    }
   
} /*  end of wrapper     */